<h1> New User </h1>

<!--<form action='/users' method='post' accept-charset='UTF-8'>
    <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
    <label for='uname'>Username:</label>
    <input type='text' id='uname' name='user[username]'>
    <label for='email'>Email:</label>
    <input type='email' id='email' name='user[email]'>
    <label for='password'>Password:</label>
    <input type='password' id='password' name='user[password]'>
    <input type='submit' value='Submit'>
</form>-->

<!--<%= form_with(url:"/users", method: "post") do %>
    <%= label_tag(:username,"Username")%>
    <%= text_field_tag(:username)%>
    <%= label_tag(:email,"Email")%>
    <%= email_field_tag(:email)%>
    <%= label_tag(:password,"Password")%>
    <%= password_field_tag(:password)%>
    <%= submit_tag("Submit")%>
<% end %>-->

<%= form_with model: @user do |form|%>
<div>
    <%= form.label :username %><br>
    <%= form.text_field :username%>
    <% @user.errors.full_messages_for(:username).each do |message|%>
    <div> <%= message %> </div>
    <% end %>
</div>

<div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
    <div><%= message %></div>
    <% end %>
</div>

<div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
    <div><%= message %></div>
    <% end %>
</div>

    <div><%= form.submit %></div>

<% end %>

